body {
    /* background: radial-gradient(#ff3300, #7857d0, #f700ff); */
    background-color: #b3aeae;
}

.section-title {
    font-weight: bold;
    color: #ffffff;
    border-bottom: 3px solid #6c757d;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.card {
    border: none;
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.37);
    margin-bottom: 20px;
    border-left: 20px solid rgb(10, 255, 235);
    background-color: rgb(0, 121, 111);
    color: white;
} 


a {
    color: #0d6efd;
}

a:hover {
    color: #0056b3;
}

.profile-pic {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 5%;
    border: 3px solid #6c757d;
    margin-bottom: 15px;
}
 {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

h2 {
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
